section{
  display:flex;
  align-items: center;
  height:25rem;
  justify-content: center;
  margin:auto;
}

div{
  display:flex;
  justify-content: space-around;
  border: 1px solid grey;
  padding: 2rem;


}
span{
  font-size: 2rem;
  color: var(--primaryGreen);
  margin-right:1rem;
}
