<nav>
  <a routerLink="/home">
    <fa-icon [icon]="faHouse"></fa-icon>
    <p>Accueil</p>
  </a>

  <a routerLink="/receipts/new">
    <fa-icon [icon]="faTruckRampBox"></fa-icon>
    <p>Nouvelle réception</p>
  </a>

  <a routerLink="/create">
    <fa-icon [icon]="faUserPlus"></fa-icon>
    <p>Nouveau réceptionniste</p>
  </a>



  <a href="">
    <fa-icon [icon]="faUser"></fa-icon>
    <p>Profil</p>
  </a>


  <a routerLink="/login" *ngIf="isConnected" (click)="logout()">
    <fa-icon [icon]="faPowerOff"></fa-icon>
    <p>Se déconnecter</p>
  </a>

  <a routerLink="/login" *ngIf="!isConnected">
    <fa-icon [icon]="faRightToBracket"></fa-icon>
    <p>Se connecter</p>
  </a>




</nav>

