.form{
  margin-bottom:2rem;
  display:flex;
  flex-direction: column;
}

.form-box{
  display:flex;
  width:21rem;
  margin-bottom: 2rem;

}




textarea{
  width:21rem;
  height: 10rem;
}


input[type="checkbox"]{
  width:3rem;
  margin-left:1rem;
}
