<section>

  <form [formGroup]="receiptForm" (ngSubmit)="create()">
    <h2>Entrer une nouvelle réception:</h2>

    <div class="form">
      <label>Date de réception</label>
      <input type="date" formControlName="dateReceipt">
    </div>
    <div class="form">
      <label>Email du réceptionniste</label>
      <input type="email" formControlName="email" [ngClass]="{'invalid': receiptForm.get('email')?.errors}">
    </div>

    <div class="form">
      <label>Matière première</label>
      <select formControlName="materialId" (change)="onMaterialChange()">
        <option *ngFor="let m of materiaArray" [ngValue]="m.id">{{ m.name }}</option>
      </select>
    </div>

    <div class="form">
      <label>Fournisseur</label>
      <select formControlName="providerId">
        <option *ngFor="let p of array" [ngValue]="p.id">{{ p.name }}</option>

      </select>
    </div>


    <div class="form">
      <label>Numéro lot fournisseur</label>
      <input type="text" formControlName="providerNumber" [ngClass]="{'invalid': receiptForm.get('providerNumber')?.invalid}">
    </div>
    <div class="form">
      <label>Quantité (en KG)</label>
      <input type="number" formControlName="quantity">

      <span
        *ngIf='this.receiptForm.get("quantity")?.dirty && this.receiptForm.get("quantity")?.touched && this.receiptForm  && this.receiptForm.get("quantity")?.errors'>
        {{ errorQuantity }}
      </span>
    </div>

    <div class="form">
      <label>D.L.U</label>
      <input type="date" formControlName="expirationDate" [ngClass]="{'invalid': receiptForm.get('expirationDate')?.dirty && receiptForm.hasError('notInThePast')}">

    </div>

    <div *ngIf="fresh">
      <div class="form">
        <label>Température</label>
        <input type="number" formControlName="temperature">
      </div>
    </div>

    <div class="form-box">
      <label>Produit surgelé ? </label>
      <input type="checkbox" class="frozen" formControlName="frozen">
    </div>

    <!-- If  the checkbox frozen is true -->
    <div *ngIf="this.receiptForm.get('frozen')?.value == true" class="form checkbox-container">

      <label>Température</label>
      <input type="text" formControlName="frozenTemp" [ngClass]="{'invalid': receiptForm.hasError('requiredTemp')}">

      <label>Date de congélation</label>
      <input type="date" formControlName="frozenDate" [ngClass]="{'invalid': receiptForm.hasError('requiredDate')}">

      <label>DLC</label>
      <input type="date" formControlName="frozenExpirationDate" [ngClass]="{'invalid': receiptForm.hasError('requiredExpiration')}">

    </div>


    <div class="form-box">
      <label>Etiquetage non conforme ? </label>
      <input type="checkbox" formControlName="labelling">
    </div>

    <!-- if labelling is not ok -->

    <div *ngIf="receiptForm.get('labelling')?.value == true" class="form">
      <label>Commentaire</label>
      <textarea formControlName="labelComment">
      </textarea>
    </div>



    <div class="form-box">
      <label>Emballage non conforme ? </label>
      <input type="checkbox" formControlName="packaging">
    </div>


    <!-- if packaging is not ok -->
    <div *ngIf="receiptForm.get('packaging')?.value == true" class="form">
      <label>Commentaire</label>
      <textarea formControlName="packagingComment">
      </textarea>
    </div>

    <div class="form-box">
      <label>Hygiène non conforme ? </label>
      <input type="checkbox" class="hygiene" formControlName="hygiene">
    </div>

    <!-- if hygiene is not ok -->
    <div *ngIf="receiptForm.get('hygiene')?.value == true" class="form">
      <label>Commentaire</label>
      <textarea formControlName="hygieneComment">
      </textarea>
    </div>
    <div class="form">
      <label>Commentaire</label>
      <textarea formControlName="comment">

      </textarea>
    </div>


    <input type="submit" value="Créer">


  </form>

</section>

