<section>

  <form [formGroup]="userForm" (ngSubmit)="create()">
    <h2>Créer un nouveau réceptionniste:</h2>
    <label>Prénom</label>
    <input type="text" formControlName="firstname" placeholder=" ex: John">
    <label>Nom</label>
    <input type="text" formControlName="lastname" placeholder=" ex: Doe">
    <label>Mot de passe</label>
    <input type="password" formControlName="password">
    <label>Email</label>
    <input type="text" formControlName="email" placeholder=" ex: John@Doe.be">
    <input type="submit" value="Créer">
  </form>

</section>

