:root{

  --primaryGreen: #235b3d;
}


*{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}

form{
  justify-content: center;
  align-items: center;
}

input{
  padding:0.5rem;
  width:20rem;
  margin-bottom:2rem;

}

label{

  align-self:flex-start;

  margin-bottom: 0.5rem;
  font-family: "Agency FB";

}
input[type="submit"]{
  background: #235b3d;
  color:#fefefe;
  border:0px solid black;
  border-radius: 0.2rem;
  width:20.9rem;
  font-family: "Agency FB";
  font-weight: bold;
}


input[type="submit"]:active{
  background: #fefefe;
  color:#235b3d;
  border: 1px solid #235b3d;

}


h2{
  color: #424242;
  margin:auto;
  margin-bottom:2rem;
  font-family: "Agency FB";

}

section, form{
  display:flex;
  flex-direction: column;
  align-items: center;

}

@media only screen and (min-width: 768px){
  label{
    align-self: flex-start;

  }
  form{
    border: 1px solid grey;
    padding:2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);

  }
  input[type="submit"]{
    transition: background ease-in 0.2s;
  }

  input[type="submit"]:hover{
    background: #fefefe;
    color:var(--primaryGreen);
    border:1px solid var(--primaryGreen);

  }



}
