<section>

  <h2>Bienvenue {{firstname}}</h2>
  <div>
    <button> <fa-icon [icon]="faTruckRampBox"></fa-icon> Entrer une nouvelle réception</button>
    <button (click)="createUser()"> <fa-icon [icon]="faUserPlus"></fa-icon> Entrer un nouveau réceptionniste</button>
    <button (click)="createUser()"> <fa-icon [icon]="faTruckFront"></fa-icon> Entrer un nouveau fournisseur</button>
    <button (click)="createUser()"> <fa-icon [icon]="faEgg"></fa-icon> Entrer une nouvelle matière première</button>
    <button> <fa-icon [icon]="faRectangleList"></fa-icon> Accéder aux formulaires</button>
    <button> <fa-icon [icon]="faUser"></fa-icon> Modifier mes informations</button>
   </div>
</section>
